.invalid-form input {
    border: 1px solid red;
    animation: blink 0.5s ease-in-out 8; /* Blink for 4 seconds */
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
