<div class="grid" *ngIf="showElements === 'true'">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-900 font-medium mb-3">Plant</span>
                    <div class="text-900 font-medium text-xl">
                        <p-dropdown [options]="plant" [autoDisplayFirst]="true" optionLabel="name" placeholder="Select"></p-dropdown>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="fas fa-industry text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-900 font-medium mb-3">Shopfloor</span>
                    <div class="text-900 font-medium text-xl">
                        <p-dropdown [options]="shopfloor" [autoDisplayFirst]="true" optionLabel="name" placeholder="Select"></p-dropdown>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="fas fa-building text-orange-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-900 font-medium mb-3">Assembly Line</span>
                    <div class="text-900 font-medium text-xl">
                        <p-dropdown [options]="assembly_line" [autoDisplayFirst]="true" optionLabel="name" placeholder="Select"></p-dropdown>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="fas fa-cogs text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <div>
                    <span class="block text-900 font-medium mb-3">Machine ID</span>
                    <div class="text-900 font-medium text-xl">
                        <p-dropdown [options]="machine_id" [autoDisplayFirst]="true" optionLabel="name" placeholder="Select"></p-dropdown>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="fas fa-cog text-purple-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="card" *ngIf="showElements === 'true'">
    <div class="flex justify-content-center">
        <app-shift></app-shift>
    </div>
    <p-chart type="bar" [data]="barChart" [options]="barOptions"></p-chart>
</div>







<div class="grid">
    <div class="col-12">
        <div class="card mb-3">
            <p-table #dt1 [value]="dummyList" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['id','country.name','representative.name','status']" responsiveLayout="scroll" [tableStyle]="{ 'min-width': 'auto', 'font-size': 'small'}">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <!-- <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
                        <div class="d-flex align-items-center">
                            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                            <p-selectButton [options]="stateOptions" class="mb-2 ml-1 mr-1" [(ngModel)]="showElements" optionLabel="label" optionValue="value"></p-selectButton>
                          </div>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                PLANT
                                <p-columnFilter type="text" field="name" display="menu" placeholder="Search by Plant"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                SHOPFLOOR
                                <p-columnFilter type="text" field="id" display="menu" placeholder="Search by Shopfloor"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                Assembly Line
                                <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                Machine ID
                                <p-columnFilter field="machineId" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="machines" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                PRODUCT ID
                                <p-columnFilter type="text" field="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="category" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                DATE
                                <p-columnFilter type="text" field="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="category" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                            <ng-template let-option pTemplate="item">
                                                <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                M/C ON HOURS
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                M/C IDLE HOURS
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                ACTUAL
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                TARGET
                            </div>
                        </th>
                        <th style="min-width: auto">
                            <div class="flex justify-content-between align-items-center">
                                PERFORMANCE
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-log>
                    <tr>
                        <td>
                            {{ log.plant }}
                        </td>
                        <td>
                            {{ log.shopfloor }}
                        </td>
                        <td>
                            {{ log.assembly_line }}
                        </td>
                        <td>
                            {{ log.machine_id }}
                        </td>
                        <td>
                            {{ log.product_id }}
                        </td>
                        <td style="min-width: auto; white-space: nowrap;">
                            {{ log.date }}
                        </td>
                        <td>
                            {{ log.mc_on_hours }}
                        </td>
                        <td>
                            {{ log.mc_idle_hours }}
                        </td>
                        <td>
                            {{ log.actual }}
                        </td>
                        <td>
                            {{ log.target }}
                        </td>
                        <td [ngStyle]="getBackgroundColorStyle(log.performance)">
                            {{ log.performance}} %
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="14">No Data found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="14">Loading data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



<!-- <div class="card mb-3">
    <p-table [value]="dummyList" class="p-datatable-sm text-900" styleClass="p-datatable-sm p-datatable-gridlines" [tableStyle]="{ 'min-width': '20rem', 'font-size': 'x-small', 'color': 'black' }" [rows]="rows">
        <ng-template pTemplate="header">
          <tr class="text-size header-row" [ngStyle]="{'font-weight': 'bold', 'color': 'black'}">
            <th scope="col">PLANT</th>
            <th scope="col">SHOPFLOOR</th>
            <th scope="col">ASSEMBLY LINE</th>
            <th scope="col">MACHINE ID</th>
            <th scope="col">PRODUCT ID</th>
            <th scope="col">DATE</th>
            <th scope="col">M/C ON HOURS</th>
            <th scope="col">M/C IDLE HOURS</th>
            <th scope="col">ACTUAL</th>
            <th scope="col">TARGET</th>
            <th scope="col">PERFORMANCE</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataItem>
          <tr class="text-size data-row text-900" [ngStyle]="{'color': 'black'}">
            <td>{{ dataItem.plant }}</td>
            <td>{{ dataItem.shopfloor }}</td>
            <td>{{ dataItem.assembly_line }}</td>
            <td>{{ dataItem.machine_id }}</td>
            <td>{{ dataItem.product_id }}</td>
            <td>{{ dataItem.date }}</td>
            <td>{{ dataItem.mc_on_hours }}</td>
            <td>{{ dataItem.mc_idle_hours }}</td>
            <td>{{ dataItem.actual }}</td>
            <td>{{ dataItem.target}}</td>
            <td [ngStyle]="getBackgroundColorStyle(dataItem.performance)">{{ dataItem.performance}}</td>
          </tr>
        </ng-template>
      </p-table>
</div> -->
