
<div class="container-fluid col-md-12 justify-content-center align-items-center d-flex">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="quantity">Machine On Time (min):</label>
          <input type="number" class="form-control" id="quantity" [(ngModel)]="on_time">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="productionexpecteddate">Actual Production:</label>
          <input type="number" class="form-control" id="productionexpecteddate" [(ngModel)]="actual">
        </div>
      </div>
      <!-- Add other input fields as needed -->
    </div>
  </div>




  <div class="d-flex justify-content-end">
    <button id="closeButton" type="button" class="btn btn-secondary mr-2 mt-2" data-dismiss="modal">Close</button>
    <button (click)="updateProductionMachine()" class="btn btn-success mt-2">
      <i class="pi pi-save"></i> Save </button>
  </div>
