<div class="grid">

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/company">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Company</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Companies</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-building text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Companies</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/location">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Plant/Location</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-industry text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Plant/Locations</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0"  routerLink="/shopfloor">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Shopfloor</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-store text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Shopfloor</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/assemblyline">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Assemblyline</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-cog text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Assemblyline</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/sub_assemblyline">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Sub-Assemblyline</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-cogs text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Sub-Assemblyline</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/machineid">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Machine ID</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-cog text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Machine IDs</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/productid">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Product ID</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-barcode text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Product IDs</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/product_receipe">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Product Recipe</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-utensils text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Product Recipes</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/breakdown_category">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Breakdown</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-wrench text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Breakdown Categories</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/sub_breakdown_category">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Sub-Breakdown</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-tools text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Sub-Breakdown Categories</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/department">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Department</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-building text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Departments</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/designation">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Designation</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-id-badge text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Designations</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/department">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Division</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-cubes text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Divisions</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/employee_details">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Employee</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-user text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Employees</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/shift">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Shift</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-clock text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Shifts</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/skill_matrix">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Skill Matrix</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-chart-bar text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Skill Matrix</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/QC_check_types">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">QC Check Types</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-comments text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Qc Check Types</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/QC_defect_type">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">QC Defect Types</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-exclamation text-orange-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Qc Defect Types</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/todo">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Communication</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-comments text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Communications</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customer</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-users text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Customers</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Outsourcing</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-truck text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Outsourcing</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Project/Purchase Order</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-project-diagram text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Purchase Orders</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Attendance Business Rules</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-user-clock text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Attendance Rules</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Device Configuration</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-cogs text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">Device Configurations</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">API Key Configuration</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-key text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Create and Manage</div>
                <div class="text-900 font-medium text-sm">API Keys</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Attendance</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-check-circle text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Manage</div>
                <div class="text-900 font-medium text-sm">Attendance</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Shift Strength</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-users text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Manage</div>
                <div class="text-900 font-medium text-sm">Shift Strength</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/batch">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">Batch</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-users text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Manage</div>
                <div class="text-900 font-medium text-sm">Batches</div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" routerLink="/po_no">
            <div>
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-3">PO NO</span>
                        <!-- <div class="text-900 font-medium text-sm">Create and Manage Sub-Assemblyline</div> -->
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="fas fa-boxes-packing text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="text-900 font-medium text-sm mb-0">Manage</div>
                <div class="text-900 font-medium text-sm">PO Numbers</div>
            </div>
        </div>
    </div>

</div>
