
<div [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(255, 255, 0, 0.5), rgba(255, 255, 0, 0.5)), linear-gradient(92.54deg, #FFFF00 47.88%, #FFFFFF 100.01%)', padding: '1em'}">
<!-- <div [ngStyle]="{borderRadius: '1rem', background: 'yellow', padding: '1em'}"> -->

    <div class="card title-card-with-time">
        <h2 class="text-800 font-bold text-xl lg:text-2xl">Material Transaction</h2>
        <!-- <h5 class="text-800 font-bold">{{ currentDate | date:'fullDate' }} - {{ currentDate | date:'shortTime' }}</h5> -->
        <app-time></app-time>
    </div>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : Inventory-2</span>
                    <!-- <div class="text-900 font-medium text-xl">152</div> -->
                </div>
            </div>
                <div class="card mb-0 yellow-bg text-black-900">
                    <div class="flex justify-content-between align-items-center">
                        <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                        <div><span>{{ material_one }}</span></div>
                    </div>
                </div>

                <div class="card mb-0 green-bg text-white">
                    <div class="flex justify-content-between align-items-center">
                        <div class="font-small mr-6"><span>Lots issued</span></div>
                        <div><span>43</span></div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : Dispatch</span>
                    <!-- <div class="text-900 font-medium text-xl">$2.100</div> -->
                </div>
            </div>
            <div class="card mb-0 yellow-bg text-black-900">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                    <div><span>43</span></div>
                </div>
            </div>

            <div class="card mb-0 green-bg text-white">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>Lots issued</span></div>
                    <div><span>43</span></div>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span> -->
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : FG-Store</span>
                    <!-- <div class="text-900 font-medium text-xl">28441</div> -->
                </div>
            </div>
            <div class="card mb-0 yellow-bg text-black-900">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                    <div><span>43</span></div>
                </div>
            </div>

            <div class="card mb-0 green-bg text-white">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>Lots issued</span></div>
                    <div><span>43</span></div>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">520  </span>
            <span class="text-500">since last week</span> -->
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : Final</span>
                    <!-- <div class="text-900 font-medium text-xl">152 Unread</div> -->
                </div>
            </div>
            <div class="card mb-0 yellow-bg text-black-900">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                    <div><span>43</span></div>
                </div>
            </div>

            <div class="card mb-0 green-bg text-white">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>Lots issued</span></div>
                    <div><span>43</span></div>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">since last week</span> -->
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : NC-Inward</span>
                    <!-- <div class="text-900 font-medium text-xl">152</div> -->
                </div>
            </div>
                <div class="card mb-0 yellow-bg text-black-900">
                    <div class="flex justify-content-between align-items-center">
                        <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                        <div><span>43</span></div>
                    </div>
                </div>

                <div class="card mb-0 green-bg text-white">
                    <div class="flex justify-content-between align-items-center">
                        <div class="font-small mr-6"><span>Lots issued</span></div>
                        <div><span>43</span></div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : Inward</span>
                    <!-- <div class="text-900 font-medium text-xl">$2.100</div> -->
                </div>
            </div>
            <div class="card mb-0 yellow-bg text-black-900">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                    <div><span>43</span></div>
                </div>
            </div>

            <div class="card mb-0 green-bg text-white">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>Lots issued</span></div>
                    <div><span>43</span></div>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span> -->
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : Inventory-1</span>
                    <!-- <div class="text-900 font-medium text-xl">28441</div> -->
                </div>
            </div>
            <div class="card mb-0 yellow-bg text-black-900">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                    <div><span>43</span></div>
                </div>
            </div>

            <div class="card mb-0 green-bg text-white">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>Lots issued</span></div>
                    <div><span>43</span></div>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">520  </span>
            <span class="text-500">since last week</span> -->
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : GRN</span>
                    <!-- <div class="text-900 font-medium text-xl">152 Unread</div> -->
                </div>
            </div>
            <div class="card mb-0 yellow-bg text-black-900">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                    <div><span>43</span></div>
                </div>
            </div>

            <div class="card mb-0 green-bg text-white">
                <div class="flex justify-content-between align-items-center">
                    <div class="font-small mr-6"><span>Lots issued</span></div>
                    <div><span>43</span></div>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">since last week</span> -->
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0 blue-bg">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block font-medium mb-3">Department : NC-Final</span>
                    <!-- <div class="text-900 font-medium text-xl">152</div> -->
                </div>
            </div>
                <div class="card mb-0 yellow-bg text-black-900">
                    <div class="flex justify-content-between align-items-center">
                        <div class="font-small mr-6"><span>No. of lots pending for issue in report for more than 48 hrs</span></div>
                        <div><span>43</span></div>
                    </div>
                </div>

                <div class="card mb-0 green-bg text-white">
                    <div class="flex justify-content-between align-items-center">
                        <div class="font-small mr-6"><span>Lots issued</span></div>
                        <div><span>43</span></div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
