<div class="grid">
	<div class="col-12">
		<div class="card">
			<p-table #dt1 [value]="machineList" dataKey="id" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<!-- <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/> -->
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Plant
								<p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
							</div>
						</th>
                        <th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Shopfloor
								<p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
							</div>
						</th>
                        <th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Assemblyline
								<p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Machine ID
								<p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
							</div>
						</th>
                        <th style="min-width: auto; white-space: nowrap;">
							<div class="flex justify-content-between align-items-center">
								Assigned Start Production
								<p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
							</div>
						</th>
                        <th style="min-width: auto; white-space: nowrap;">
							<div class="flex justify-content-between align-items-center">
								Assigned End Production
								<p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center">
								Status
								<p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
								</p-columnFilter>
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								Performance
								<p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <!-- <ng-template pTemplate="filter" let-filter="filterCallback">
										<p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3" [style]="{'min-width': '12rem'}" ></p-slider>
										<div class="flex align-items-center justify-content-between px-2">
											<span>{{activityValues[0]}}</span>
											<span>{{activityValues[1]}}</span>
										</div>
									</ng-template> -->
								</p-columnFilter>
							</div>
						</th>
						<th style="min-width: 8rem">
							<div class="flex justify-content-between align-items-center">
								View
								<p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-item>
					<tr>
						<td>
                            {{ item.plant }}
						</td>
                        <td>
                            {{ item.shopfloor }}
                        </td>
                        <td>
                            {{ item.assemblyline }}
                        </td>
						<td>
                            <img src="assets/demo/images/machines/milling-machine.jpg" width="32" style="vertical-align: middle"/>
							<span class="image-text ml-2">{{ item.machine_id }}</span>
						</td>
                        <td>
                            {{ item.start_prod }}
                        </td>
                        <td>
                            {{ item.end_prod }}
                        </td>
						<td>
                            <span [class]="'state-badge state-' + item.state">{{ item.state }}</span>
						</td>
						<td>
                            <p-progressBar [value]="item.activity" [showValue]="true" [style]="{'color': 'green'}"></p-progressBar>
						</td>
						<td class="text-center">
                            <!-- <p-button icon="fa-solid fa-eye" routerLink="/machinewise" size="small"></p-button> -->
                            <button type="button" class="btn btn-sm btn-info" routerLink="/machinewise"  pTooltip="View" tooltipPosition="bottom">
                                <i class="fa-solid fa-eye"></i>
                            </button>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No machines found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading machine data. Please wait.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>

